body {
	background-color: #F1F1F1;
	font-family: Helvetica Neue;
}

.container {
	background-color: white;
	margin-bottom: 20px;
	padding: 0 !important;
}

.content {
	margin: 0 auto;
	float: none;
}

h1 {
	font-family: "Arvo";
	font-size: 36px;
	color: white;
	line-height: 5;
	font-weight: 400;
	text-align: center;
}

h2 {
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size: 36px;
}

h2 a {
	color: #333;
}

p {
	font-family: Athelas-Regular;
	font-size: 22px;
	color: #262626;
	line-height: 33px;
}

.read_more {
	background: #000000;
	border: 1px solid #979797;
	width: 148px;
	height: 46px;
	color: white;
	text-align: center;
  	line-height: 2;
  	display: inline-block;
}

.read_more:hover {
	color: gray;
}

.article_box {
	margin-top: 28px;
}

.banner {
	height: 189px;
	width: 100%;
	background-image: url('../images/banner1.jpeg');
	background-size: cover;
	content: "";
}

.banner > h1 {
	margin: 0;
}

.subscribe_button {
	border: 3px solid #FFFFFF;
	font-family: "Avenir Next";
	font-size: 20px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	position: absolute;
  	right: 20px;
  	top: 120px;
	cursor: pointer;
}

.header {
	height: 107px;
	line-height: 6;
	background-color: white;
	width: 100%;
}

.menu_items {
	position: absolute;
	right: 10px;
	display: inline-block;
}

.header a {
	color: #333;
	margin-left: 15px;
	font-size: 18px;
}

.page_header {
	height: 295px;
}

.page_header h1 {
	text-align: left;
	line-height: normal;
	width: 80%;
}

.page_header_top {
	padding-top: 40px;
}

.page_header_top a {
	color: white;
	margin-left: 15px;
	font-size: 18px;
}

.page_header_bottom {
	padding-top: 145px;
  	padding-left: 10px;
}

.page_header_bottom h1 {
  font-family: Helvetica Neue;
  font-weight: bold;
}

.page_header_bottom .subscribe_button {
	position: absolute;
  	right: 20px;
  	top:229px;
}

.categories {
	margin: 0 auto;
 	width: 800px;
 	line-height: 5;
 	font-size: 18px;
	text-align: center;

}

.categories a {
	color: #333;
	margin-right: 30px;
	font-size: 18px;
	font-family: "Avenir Next";
}

.active {
	border-bottom: 5px solid #333;
}

@media (max-width: 1024px) {
	.banner {
		background-position-y: -120px;
	}
}

@media (max-width: 1280px) {
	.banner {
		background-position-y: -140px;
	}
}

@media (min-width: 1281px) {
	.banner {
		background-position-y: -200px;
	}
}

@media (max-width: 765px) {
	.banner {
		display: none;
	}
	
	.subscribe_button {
		display: none;
	}

	.content {
		padding-left: 30px;
	}

	.menu_items {
		display: none;
	}

	#mobile_menu {
		display: inline-block;
	}

	.slicknav_menu {
		display: block !important;
	}
}

@media (max-width: 600px) {
	.categories {
		display: none;
	}
	
	.categories_mobile {
		display: inline-block;
	}

	.content {
		padding: 20px;
	}

	.page_header {
		height: auto;
		padding-bottom: 20px;
	}
	
	.page_header h1 {
		width: auto;
	}

	.page_header_bottom {
		padding-top: 0px;
	}

	.mobile_header {
		display: block !important;
		font-size: 16px;
		font-weight: 600;
	}

	.desktop_header {
		display: none;
	}

	.header {
		margin-bottom: 10px;
	}

	.subbanner {
		display: none !important;
	}

	#mc_embed_signup {
		width: 100% !important;
	}

	#mc_embed_signup input {
		width: 96% !important;
	}

	.mobile_subs {
		display: block !important;
	  font-size: 20px;
	  margin: 0;
	  padding: 0;
	  height: 37px;
	}
}

.mobile_subs {
	display: none;
}

.slicknav_menu {
	display: none;
}

.mobile_header {
	display: none;
}

.categories_mobile {
	display: none;
}

#mobile_menu {
	display: none;
}

footer.container {
  background: #323B43;
  border: 1px solid #979797;
  height: 170px;
}

.subbanner {
font-size: 36px;
  color: white;
  margin-left: 63px;
  margin-top: 40px;
  width: 454px;
  height: 82px;
  font-family: Georgia;
  line-height: 1.5;
  display: inline-block;
}

.subscribe {
	  display: inline-block;
  float: right;
  margin-top: 54px;
  margin-right: 34px;
}

.subscribe input {
	display: inline-block;
  	height: 38px;
}

.subscribe_button_click {
  background: #2291E7;
  color: white;
  padding-top: 8px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 20px;
  font-family: Avenir Next;
  margin-left: -6px;
}