<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
  <meta name="author" content="Mohammed Lakkadshaw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />


   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="/css/screen.css">
   <link rel="stylesheet" href="/css/styles.css">
   <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37269036-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

  })();

</script>
</head>

<body>
  <!-- Mobile Menu -->
  <ul id="mobile_menu">
    <li><a href="http://mohammedlakkadshaw.com/#openSource">OPEN SOURCE</a></li>
    <li><a href="http://mohammedlakkadshaw.com/#openSource">COMPANY</a></li>
    <li><a href="http://mohammedlakkadshaw.com/work.html">ABOUT</a></li>
    <li><a href="#">CASE STUDIES</a></li>
  </ul>
  <!-- End -->

  {% if page.type == "index" %}
    <div class="header">
        <a class='desktop_header' href="/">ML&CO | <span style="font-variant: small-caps;">blog</span></a>

        <a class='mobile_header' href="/">Mohammed Lakkadshaw & Co | <span style="font-variant: small-caps;">blog</span></a>

        <div class="menu_items">
          <a href="http://mohammedlakkadshaw.com/#openSource">OPEN SOURCE</a>
          <a href="http://mohammedlakkadshaw.com">COMPANY</a>
          <a href="http://mohammedlakkadshaw.com/work.html">ABOUT</a>
          <a href="">CASE STUDIES</a>
        </div>
    </div>

    <div class="banner">
      <a href="#mc_embed_signup" class="subscribe_button">SUBSCRIBE</a>
      <h1>Stay a while and listen.</h1>
    </div>

    {% else %}
    <div class="page_header" data-image="{{ page.featured_image }}">
      
      <div class="page_header_top">
          <a href="/">ML&CO | <span style="font-variant: small-caps;">blog</span></a>

          <div class="menu_items">
            <a href="http://mohammedlakkadshaw.com/#openSource">OPEN SOURCE</a>
            <a href="http://mohammedlakkadshaw.com">COMPANY</a>
            <a href="http://mohammedlakkadshaw.com/work.html">ABOUT</a>
            <a href="">CASE STUDIES</a>
          </div>
      </div>
      
      <div class="page_header_bottom">
        <h1>{{ page.title }} </h1>     
      <a href="#mc_embed_signup" class="subscribe_button">SUBSCRIBE</a>

      </div>

    </div>
    {% endif %}
    
    {% if page.type %}
      <div class="categories">
        <a {% if page.list == 'angularjs' %} class='active' {% endif %} href="/categories/angularjs">Angular.js</a>
        <a {% if page.list == 'nodejs' %} class='active' {% endif %}  href="/categories/nodejs">Node.js</a>
        <a {% if page.list == 'android' %} class='active' {% endif %}  href="/categories/android">Android</a>
        <a {% if page.list == 'misc' %} class='active' {% endif %}  href="/categories/misc">Miscellaneous</a>
      
      </div>
      {% elsif page.list %}
       <div class="categories">
            <a {% if page.list == 'angularjs' %} class='active' {% endif %} href="/categories/angularjs">Angular.js</a>
            <a {% if page.list == 'nodejs' %} class='active' {% endif %}  href="/categories/nodejs">Node.js</a>
            <a {% if page.list == 'android' %} class='active' {% endif %}  href="/categories/android">Android</a>
            <a {% if page.list == 'misc' %} class='active' {% endif %}  href="/categories/misc">Miscellaneous</a>
        <a href="/"><i class="fa fa-close"></i>clear</a>

        </div>
    {% endif %}

    <!-- Main content area -->
    <div class="container">
        <div class="row" style="display: inline;">
          <div class="content span9">
            {{ content }}
          </div>
        </div>
    </div> 
  
  {% include footer.html %}

  <!-- End Main content area -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.0.4/css/jquery.mmenu.all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.0.4/js/jquery.mmenu.min.js"></script>
  <script>
    $("#mobile-menu").mmenu();
  </script> -->
<script src="/js/jquery.js"></script>
  <script>
  $(document).ready(function () {
    var data = $(".page_header") .data();
    if(data) {
      if(!data.image) {
        data.image = "/images/banner2.jpeg";
        $(".page_header").css({"background-image":"url("+data.image+")", "background-size":"cover"})
      }
    }
  })
</script>

<script src="css/nav/jquery.slicknav.min.js"></script>
<link rel="stylesheet" href="css/nav/slicknav.min.css" />
<script>
    $('#mobile_menu').slicknav();
</script>

</body>
</html>

